.primary-button{
    color: #ffffff;
    background-color: #194fdb;
    padding: 12px 24px;
    font-family: Helvetica;
    font-weight: 700;
    border-radius: 3em;
    display: inline-block;
    border: 0;
    width:208px;
}
/* .primary-button:hover{
    background-color: #fff;
} */

.primary-button:hover:{
    background-color:var(--hover-color) !important;
    opacity:var(--hover-opacity)
}